.tableCredit {
    margin-top: 10%;
    margin-left: 5%;
    justify-content: center;
    width: 900px;
}
.transparent {
    text-transform: uppercase;
    color: #FFF;
    mix-blend-mode: multiply;
}