.table-row-dark {
    background-color: #6bbadfea;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 2px;
    white-space: nowrap;
}
.table-row-light {
    background-color: #3e8635;
}
.tablePay {
    width: 510px;
    margin-top: 1%;
    margin-left: 18%;
}
.titlePay {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.addPayments {
    margin-left: 42%;
    width: 150px;
}
.deletePayments {
    width: 150px;
}
.buttonPayments {
    display: flex;
    justify-items: center;
}

.transparent {
    text-transform: uppercase;
    color: #FFF;
    mix-blend-mode: multiply;
}