.table-row-dark {
    
    background-color: #ffffff;
    border-color: #e6e3e9;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 2px;
    white-space: nowrap;
}
.table-row-light {
    background-color: #60467e;
    background-image: -o-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%);
    background-image: -moz-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%);
    background-image: -ms-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%);
    background-image: linear,to left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%;
}
.tablePay {
    width: 530px;
    margin: 0 auto;
}
.titlePay {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.addPayments {
    margin-left: 42%;
    width: 150px;
    border-radius: 5px;
    color: #fff;
    background-color: #60467e;
    background-image: -webkit-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%);
}
.deletePayments {
    width: 150px;
    border-radius: 5px;
    color: #fff;
    background-color: #60467e;
    background-image: -webkit-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%);
}
.buttonPayments {
    display: flex;
    justify-items: center;
}

.transparent {
    text-transform: uppercase;
    color: #FFF;
    mix-blend-mode: multiply;
}